* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
}

@mixin clearfix {
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}

// 顶部布局
.header-container {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;

    .logo {
        width: 70px;
        background-color: rgba(21, 101, 192, 0.2);

        display: flex;
        justify-content: center;
        align-items: center;

        img {
            height: 39px;
            width: 34.5px;
        }
    }

    .right {
        background-color: #222222;
        color: #ffffff;
        flex: 1;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 15px;

        .title {
            span {
                font-size: 15px;
                font-weight: 600;
            }

        }

        .version-box {
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;

            a {
                color: #ffffff;

                .version {
                    margin-left: 15px;
                    background-color: #1565c0;
                    font-weight: 600;
                    font-size: 12px;
                    border-radius: 4px;
                    padding: 3px 6px;

                }
            }

        }
    }
}


.container {
    display: flex;
    flex: 1;
    justify-content: space-between;
    flex-direction: row;

    .menus {
        width: 70px;
        display: flex;
        flex-direction: column;
        background-color: #f7f7f7;

        a {
            display: flex;
            height: 70px;
            align-items: center;
            justify-content: center;
            color: #222222;

            &.active {
                background-color: #eaeaea;
            }

            &:hover {
                background-color: #eaeaea;
            }
        }
    }

    .content-list {
        flex: 1;
        display: flex;

        .content {
            display: none;
            flex: 1;

            &.active {
                display: flex !important;
            }

            &.dashboard {
                display: none;
                flex-direction: column;

                .header {
                    height: 40px;
                    background-color: #f5f5f5;

                    ul {
                        list-style-type: none;
                        height: 100%;
                        display: flex;
                        flex-direction: row;
                        align-items: center;

                        li {
                            margin-left: 15px;
                            height: 100%;

                            a {
                                color: #038BE5;
                                height: 100%;
                                display: flex;
                                flex-direction: row;
                                align-items: center;

                                span {
                                    &:first-child {
                                        font-size: 14px;
                                    }

                                    &:last-child {
                                        font-size: 12px;
                                    }
                                }
                            }

                            &.active {
                                a {
                                    color: #E91E63;
                                }
                            }

                            &.filter-toggle {
                                position: relative;

                                .filter-box {
                                    position: absolute;
                                    background-color: #fff;
                                    width: 200px;
                                    display: none;

                                    a {
                                        display: flex;
                                        justify-content: space-between;
                                        line-height: 40px;
                                        height: 40px;
                                        color: #222222;
                                        font-size: 12px;
                                        padding: 5px 15px;

                                        &:last-child {
                                            border-top: 1px solid #ccc;
                                        }

                                        &:hover {
                                            background-color: #eee;
                                        }

                                        .success {
                                            color: #4caf50;
                                            font-size: 20px;
                                        }

                                        .failed {
                                            color: #f44336;
                                            font-size: 24px;
                                        }
                                    }

                                    &.active {
                                        display: block;
                                        top: 37px;
                                    }
                                }
                            }
                        }
                    }
                }

                .statistics {
                    height: 180px;
                    display: none;

                    &.active {
                        display: block;
                    }

                    .statistics-wrapper {
                        display: flex;
                        height: 100%;
                        flex-direction: row;

                        .statistics-item {
                            flex: 1;
                            padding: 20px;
                            border-left: 1px solid #eee;
                            border-bottom: 1px solid #eee;

                            &:first-child {
                                border-left: none;
                            }

                            display: flex;
                            justify-content: space-between;

                            .tip-box {
                                height: 100%;
                                display: flex;
                                justify-content: space-between;
                                flex-direction: column;

                                .title {
                                    font-size: 14px;
                                }

                                .tip {
                                    font-size: 12px;

                                    span {
                                        display: block;
                                        color: rgba(0, 0, 0, 0.7);

                                        i {
                                            font-style: normal;
                                            font-weight: 600;
                                            color: rgba(0, 0, 0, 1);
                                        }
                                    }
                                }
                            }

                            .chart {
                                width: 100px;
                                height: 80px;
                                padding-top: 15px;
                            }

                            .icon-box {
                                height: 100%;
                                display: flex;
                                justify-content: start;
                                flex-direction: column;

                                span {
                                    font-size: 12px;
                                    display: inline-block;
                                    line-height: 20px;
                                    height: 20px;

                                    i {
                                        display: inline-block;
                                        width: 10px;
                                        height: 10px;
                                        margin-right: 5px;

                                        &.icon-pass {
                                            background-color: #00af00;
                                        }

                                        &.icon-failed {
                                            background-color: #f7464a;
                                        }
                                    }
                                }
                            }

                        }
                    }
                }

                .test-suite-list {
                    flex: 1;
                    display: flex;

                    .test-suite {
                        width: 270px;
                        height: 100%;
                        display: inline-block;
                        border-right: 1px solid #eee;



                        .title {
                            line-height: 27px;
                            padding: 15px 10px;
                            font-weight: 600;
                            font-size: 24px;
                            border-bottom: 1px solid #eee;
                        }

                        .suite-item {
                            display: flex;
                            height: 45px;
                            width: 100%;
                            align-items: center;
                            justify-content: space-between;
                            border-bottom: 1px solid #eee;
                            cursor: pointer;

                            &:hover {
                                background-color: #f7f7f7;
                            }

                            &.active{
                                background-color: #f7f7f7;
                            }

                            .suite-name {
                                display: inline-block;
                                margin-left: 10px;
                                font-size: 18px;
                            }

                            .tip {
                                display: inline-block;
                                margin-right: 10px;

                                .pass,
                                .failed {
                                    font-style: normal;
                                    // border-radius: 50%;
                                    color: #fff;
                                    padding: 3px;
                                    font-size: 12px;
                                }

                                .pass {
                                    background-color: #4caf50;
                                    ;
                                }

                                .failed {
                                    background-color: #f44336;
                                    margin-left: 10px;
                                }

                            }
                        }
                    }

                    .test-case {
                        height: 100%;
                        width: 500px;
                        border-right: 1px solid #eee;

                        .title {
                            line-height: 27px;
                            padding: 15px 10px;
                            font-weight: 600;
                            font-size: 24px;
                            border-bottom: 1px solid #eee;
                        }

                        .case-item {
                            display: none;
                            height: 45px;
                            width: 100%;
                            align-items: center;
                            justify-content: space-between;
                            border-bottom: 1px solid #eee;
                            cursor: pointer;

                            &:hover {
                                background-color: #f7f7f7;
                            }

                            &.show{
                                display: flex !important;
                            }

                            &.active{
                                background-color: #f7f7f7;
                            }

                            .case-name {
                                display: inline-block;
                                margin-left: 10px;
                                font-size: 18px;
                                .source-line {
                                    color: #038BE5;
                                    font-size: 14px;
                                    font-style: normal;
                                    margin-left: 5px;
                                }
                            }

                            .tip {
                                display: inline-block;
                                margin-right: 10px;
                                width: 60px;
                                text-align: right;

                                .success {
                                    color: #FFF;
                                    background-color: #00af00;
                                    border-radius: 50%;
                                    font-size: 12px;
                                    padding: 2px;
                                }

                                .failed {
                                    color: #FFF;
                                    background-color: #f44336;
                                    border-radius: 50%;
                                    font-size: 12px;
                                    padding: 2px;
                                }

                                .pass-count,
                                .failed-count {
                                    font-style: normal;
                                    // border-radius: 50%;
                                    color: #fff;
                                    padding: 3px;
                                    font-size: 12px;
                                    width: 22px;
                                }

                                .pass-count {
                                    background-color: #4caf50;
                                }

                                .failed-count {
                                    background-color: #f44336;
                                    margin-left: 10px;
                                }
                            }
                        }
                    }

                    .subcase {
                        width: 500px;
                        height: 100%;
                        border-right: 1px solid #eee;

                        .subcase-item {
                            display: none;
                            height: 45px;
                            width: 100%;
                            align-items: center;
                            justify-content: space-between;
                            border-bottom: 1px solid #eee;
                            cursor: pointer;

                            &:hover {
                                background-color: #f7f7f7;
                            }

                            &.show{
                                display: flex !important;
                            }

                            &.active{
                                background-color: #f7f7f7;
                            }

                            .subcase-name {
                                display: inline-block;
                                margin-left: 10px;
                                font-size: 18px;
                                .source-line {
                                    color: #038BE5;
                                    font-size: 13px;
                                    font-style: normal;
                                    padding-left: 3px;
                                }
                            }

                            

                            .tip {
                                display: inline-block;
                                margin-right: 10px;
                                width: 60px;
                                text-align: right;

                                .pass,
                                .failed {
                                    font-style: normal;
                                    border-radius: 50%;
                                    color: #fff;
                                    padding: 3px;
                                    font-size: 12px;
                                }

                                .success {
                                    color: #FFF;
                                    background-color: #00af00;
                                    border-radius: 50%;
                                    font-size: 12px;
                                    padding: 2px;
                                }

                                .failed {
                                    color: #FFF;
                                    background-color: #f44336;
                                    border-radius: 50%;
                                    font-size: 12px;
                                    padding: 2px;
                                }

                                .pass {
                                    background-color: #4caf50;
                                }

                                .failed {
                                    background-color: #f44336;
                                    margin-left: 10px;
                                }
                            }
                        }
                    }
                    .detail {
                        height: 100%;
                        flex-grow: 1;
                        .detail-item{
                            border-top: 1px solid #eee;
                            display: none;

                            &.show{
                                display: block !important;
                            }

                            &:nth-child(even){
                                background-color: #eee;
                            }

                            
                            &:first-child{
                                border-top: none;
                            }
                            .expr{
                                display: flex;
                                justify-content: space-between;
                                span{
                                    display: inline-block;
                                    flex: 1;
                                    text-align: center;
                                    height: 60px;
                                    line-height: 60px;
                                    font-size: 16px;
                                    border-bottom: 1px solid #ccc;
                                    border-right: 1px solid #ccc;
                                    font-weight: 600;
                                    &:last-child{
                                        border-right: none;
                                    }
                                }
                            }
                            .source-line{
                                padding: 5px 0 5px 10px;
                                color: #038BE5;
                                text-align: left;
                                border-bottom: 1px solid #ccc;
                            }
                            .info{
                                padding: 10px;
                                font-size: 13px;
                                color: rgba(2,2,2,0.8);
                                color: #E91E63;
                            }
                        }

                    }
                }
            }

            &.bugreport {}

            &.track {}
        }
    }
}